USE [master]
GO
/****** Object:  Database [FinalProjectOOPDB]    Script Date: 04/06/2021 10:13:20 م ******/
CREATE DATABASE [FinalProjectOOPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProjectOOPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalProjectOOPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProjectOOPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalProjectOOPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProjectOOPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProjectOOPDB]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 04/06/2021 10:13:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 04/06/2021 10:13:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] NOT NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 04/06/2021 10:13:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[Id] [int] NOT NULL,
	[Score] [float] NULL,
	[IdStudent] [int] NULL,
	[IdCourse] [int] NULL,
	[Datetime] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04/06/2021 10:13:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([Id], [Name]) VALUES (0, N'Name')
INSERT [dbo].[Course] ([Id], [Name]) VALUES (1, N'Course1')
GO
INSERT [dbo].[Gender] ([Id], [Title]) VALUES (0, N'Male')
INSERT [dbo].[Gender] ([Id], [Title]) VALUES (1, N'Female')
INSERT [dbo].[Gender] ([Id], [Title]) VALUES (2, N'N/A')
GO
INSERT [dbo].[Score] ([Id], [Score], [IdStudent], [IdCourse], [Datetime]) VALUES (0, 100, 0, 0, CAST(N'2021-01-03' AS Date))
INSERT [dbo].[Score] ([Id], [Score], [IdStudent], [IdCourse], [Datetime]) VALUES (1, 50, 0, 0, CAST(N'2021-01-03' AS Date))
INSERT [dbo].[Score] ([Id], [Score], [IdStudent], [IdCourse], [Datetime]) VALUES (3, 77, 1, 1, CAST(N'2021-01-03' AS Date))
GO
INSERT [dbo].[Student] ([Id], [Name], [Age], [GenderId]) VALUES (0, N'N', 2, 1)
INSERT [dbo].[Student] ([Id], [Name], [Age], [GenderId]) VALUES (1, N'Name', 2132, 2)
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Course] FOREIGN KEY([IdCourse])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Course]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Student] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Gender]
GO
USE [master]
GO
